.contacts {
    padding-left: 0;
    padding-right: 0;
    &_container {
        margin: 0 auto;
    }
    &_map {
        margin-top: 7.5rem;
        iframe {
            max-width: 100%;
            width: 100%;
        }
    }
    &_title {
        text-transform: uppercase;
        font-size: 3.6rem;
        text-align: center;
        color: $white;
        padding-top: 5.5rem;
    }
    &_info {
        background: linear-gradient(to left, #00cbac, #02aeaf);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 6.5rem;
        padding-bottom: 7.5rem;
        font-size: 2rem;
        line-height: 3rem;
        color: $white;
        text-align: center;
    }
    &_address-text {
        display: flex;
        flex-direction: column;
    }
    &_tel {
        p {
            &:first-child {
                padding-bottom: 1.8rem;
            }
        }
    }
    .fa-map-marker {
        font-size: 2.5rem !important;
        padding-bottom: .5rem;
    }
}

.map {
    position: relative;
    &_way {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background: $white;
    }
    &_contacts-content {
        padding-left: 2.8rem;
        padding-top: 2.6rem;
        padding-bottom: 2.6rem;
        padding-right: 8rem;
    }
    &_howget {
        font-size: 2rem;
        color: #6e6e6e;
        font-weight: 600;
    }
    &_coordinates {
        .map_text {
            text-decoration: underline;
        }
    }
    &_coordinates-title {
        padding-top: 1.5rem;
        font-size: 1.6rem;
        color: #9b9b9b;
    }
    &_text {
        font-size: 1.6rem;
        color: #6e6e6e;
        font-weight: 400;
        padding-top: 1.2rem;
    }
}

.form {
    max-width: 96rem;
    margin: 0 auto;
    &_input,
    &_textarea {
        padding: 1.3rem 2.4rem;
        border: .1rem solid $white;
        border-radius: 5rem;
        font-size: 1.4rem;
        font-family: $desc-font;
        font-weight: 300;
        color: $white;
        width: 100%;
        margin-top: 5.5rem;
        background: transparent;
        @include placeholder {
            color: $white;
        }
    }
    &_textarea {
        height: 11.7rem;
        border-radius: 2.5rem;
        margin-top: 3.5rem;
        resize: none;
    }
    &_button {
        margin-top: 3.5rem;
        padding-bottom: 7rem;
        animation-delay: .4s;
        text-align: center;
        font-size: 1.6rem;
    }
    &_block {
        @for $i from 1 through length($animationDelay) {
            div:nth-child(#{$i}) {
                animation-delay: nth($animationDelay, $i);
            }
        }
    }
    &_link {
        display: inline-block;
        white-space: nowrap;
        font-size: 1.4rem;
        border: 1px solid $white;
        border-radius: 5rem;
        padding: 1.2rem 4rem;
        transition: all .25s;
        background: $white;
        color: $grey;
        text-transform: uppercase;
        &:hover {
            border: 1px solid $white;
            background: transparent;
            color: $white
        }
        &:active {
            border: 1px solid $grey;
        }
    }
}

@media only screen and (max-width: $screen-sm-max) {
    .contacts {
        &_map {
            margin-top: 0;
        }
    }
    .form {
        &_input,
        &_textarea {
            margin-top: 2rem;
        }
        &_textarea {
            margin-top: 2rem;
        }
        &_button {
            margin-top: 3.5rem;
            padding-bottom: 7rem;
            display: inline-block;
        }
    }
}

@media only screen and (max-width: $screen-xs-max) {
    .contacts {
        background-attachment: scroll;
    }
    .map {
        &_content {
            padding-left: 2.8rem;
            padding-top: 2.2rem;
            padding-bottom: 2.2rem;
            padding-right: 4rem;
        }
        &_howget {
            font-size: 1.8rem;
        }
        &_coordinates-title {
            padding-top: 1.5rem;
        }
        &_text {
            font-size: 1.4rem;
        }
    }
}

@media only screen and (max-width: $screen-xxs) {
    .map {
        &_content {
            padding-left: 2.8rem;
            padding-top: 2.2rem;
            padding-bottom: 2.2rem;
            padding-right: 4rem;
        }
        &_howget {
            font-size: 1.8rem;
        }
        &_coordinates-title {
            padding-top: 1.5rem;
        }
        &_text {
            font-size: 1.4rem;
        }
    }
}